.license-chips {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.MuiCard-root .license-chips {
  display: inline-block;
}

.MuiCard-root .license-chips__item {
  display: flex;
  align-items: center;
}

.license-chips__item-description {
  padding-left: 5px;
  display: none;
}

.MuiCard-root .license-chips__item-description {
 display: inline-block; 
}
